<header class="contain">
    <div class="p-5 title-banner">
      <h1 class="display-4">Trouve le prochain Event qui va changer ta vie !</h1>
      <p class="pt-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ex cumque ab dolore, sit consequatur est! Quis aliquam a qui, nostrum, officia aut sed laudantium suscipit. Architecto recusandae reprehenderit, perferendis.</p>
      <div class="text-right pt-3">
      <%= link_to "Voir les Events", root_path, class: 'btn btn-outline-primary btn-lg mr-2' %>
      <%= link_to "Créer un Event", new_event_path, class: 'btn btn-primary btn-lg ' %>
      </div>
    </div>
</header>

<div class="container my-5 ml-5 pt-5">
  <h2 class="display-4 my-5 ml-5"><span class="list-title pb-1 px-3">Les prochains Events:</span</h2>
</div>

<div class="container py-5">
  <div class="row ">
    <% Event.all.each do |event| %>
    <div class="col-lg-4 p-3">
    <div class="card">
      <img class="card-img-top" src="<%= @images.sample %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> <%= event.title%> </h5>
        <h6 class="card-subtitle mb-2 py-1 text-muted"> <%= event.start_date.strftime('%a %b %d')%></h6>
        <p class="card-text card-limit"> <%= event.description[0..65] %>...</p>
        <a href="/event/<%=event.id%>" class="card-link btn btn-primary my-1">Découvrir</a> <span class="text-muted pl-5"><%= event.users.count%> personnes participent</span>
      </div>
    </div>
    </div>
    <% end %>

  </div>
</div>
